.wrapper {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
.label {
  font-size: 14px;
}
.controlLabel {
  font-size: 12px;
  height: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.value {
  margin-top: 2px;
  width: 100%;
}